<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf="!dataLoaded" style="text-align: center">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  Loading Data...
</div>

<div *ngIf="dataLoaded" class="film-detail-wrapper">
  <div class="film-wrapper" style="">
    <a href="" class="back-button" routerLink="/dashboard">	&larr; Back to Dashboard</a>

    <h1 style="text-align: center">{{ data.title }}</h1>
    <hr class="hr-gold">
    <p class="film-desc">{{ data.opening_crawl }}</p>

    <button class="accordion">Information</button>
    <div class="panel">
      <ul>
        <li>Director : {{ data.director }}</li>
        <li>Producer : {{ data.producer }}</li>
        <li>Release Date : {{ data.release_date | date }}</li>
      </ul>
    </div>
    <button class="accordion">Characters</button>
    <div class="panel">
      <div *ngFor="let chr of filterBy(characters); let last = last">
        <div class="" style="padding: 5px 0">
          <div class="" style="padding: 0 20px;">
            <ul>
              <li>
                <strong>{{ chr.name }}</strong>
                <img src="https://png.icons8.com/material/50/37AAF7/open-in-window.png"
                         (click)="openGoogle(chr.name)"
                         height="20px"
                         width="20px"
                         class="icon-search"
                         title="Open in Google">
                <br><br>
                Year of Birth : {{ chr.birth_year }} <br>
                Gender : {{ chr.gender }} <br>
                Height : {{ chr.height }} <br>
                Mass : {{ chr.mass }}
                <br>
              </li>
            </ul>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>
    </div>
    <button class="accordion">Species</button>
    <div class="panel">
      <div *ngFor="let spc of filterBy(species); let last = last">
        <div class="" style="padding: 5px 0">
          <div class="" style="padding: 0 20px;">
            <ul>
              <li>
                <strong>{{ spc.name }}</strong>
                <br><br>
                Classification : {{ spc.classification }} <br>
                Designation : {{ spc.designation }} <br>
                Average Height : {{ spc.average_height }} <br>
                Language : {{ spc.language }} <br>
                Average Lifespan : {{ spc.average_lifespan }}
                <br>
              </li>
            </ul>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>
    </div>
    <button class="accordion">Starships</button>
    <div class="panel">
      <div *ngFor="let str of filterBy(starships); let last = last">
        <div class="" style="padding: 5px 0">
          <div class="" style="padding: 0 20px;">
            <ul>
              <li>
                <strong>{{ str.name }}</strong>
                <img src="https://png.icons8.com/material/50/37AAF7/open-in-window.png"
                     (click)="openGoogle(str.name)"
                     height="20px"
                     width="20px"
                     class="icon-search"
                     title="Open in Google">
                <br><br>
                Model : {{ str.model }} <br>
                Class : {{ str.starship_class }} <br>
                Manufacturer : {{ str.manufacturer }} <br>
                Crew : {{ str.crew }} <br>
                Passenger : {{ str.passengers }}
            </ul>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>
    </div>
    <button class="accordion">Planets</button>
    <div class="panel">
      <div *ngFor="let pln of filterBy(planets); let last = last">
        <div class="" style="padding: 5px 0">
          <div class="" style="padding: 0 20px;">
            <ul>
              <li>
                <strong>{{ pln.name }}</strong>
                <br><br>
                Diameter : {{ pln.diameter }} <br>
                Population : {{ pln.population }} <br>
                Terrain : {{ pln.terrain }} <br>
                Rotation Period : {{ pln.rotation_period }} <br>
                Gravity : {{ pln.gravity }}
                <br>
              </li>
            </ul>
            <hr *ngIf="!last">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
