* {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .parallelogram {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 20px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    color: rgba(0,0,0,1);
    background: linear-gradient(to bottom, #fafafa, #938e8e);
  }

  .parallelogram:hover {
    margin: 10px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 5px #9c9322;
  }

  .parallelogram-episode {
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    margin-left: -10px;
    border-left: 2px solid #9c9322;
    color: rgba(0,0,0,1);
    background-color: #121212;
  }

}

@media only screen and (min-width: 1025px) {
  .parallelogram {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 40px;
    margin: 10px 20%;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    color: rgba(0,0,0,1);
    background: linear-gradient(to bottom, #fafafa, #938e8e);
    background-size: cover;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  .content-wrapper {
    transform: skew(20deg);
  }

  .parallelogram:hover {
    padding: 10px 74px;
    margin: 10px 18%;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 5px #9c9322;

  }

  .parallelogram-episode {
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    margin-left: -40px;
    border-left: 2px solid #9c9322;
    color: rgba(0,0,0,1);
    background-color: #121212;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }

  .parallelogram:hover .parallelogram-episode {
    margin-left: -60px;
    transition: 0.5s;
  }
}

.film-box {
  transition: 0.5s;
  background: linear-gradient(to left, #252525, #474747, #252525);
  margin: 10px 20%;
  cursor: pointer;
}

.film-creator {
  text-align: center;
}

.episode-box {
  background-color: #121212;
  text-align: center;
	padding: 5px;
	width: 150px;
  border-right: 1px solid #9c9322;
  border-bottom: 1px solid #9c9322;
}

.episode-title {
  font-size: 2vh;
  color: #fff;
}

.film-title {
  font-size: 4vh;
}

.film-desc {
  padding: 15px 30px;
  text-align: justify;
}
