<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="!dataLoaded" style="text-align: center">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  Loading Data...
</div>

<div *ngIf="dataLoaded" class="" [@listAnimation]="dataLength">
  <div *ngFor="let film of filterBy('episode_id')">
    <div class="parallelogram" routerLink="/film/{{film.episode_id}}">
      <div class="content-wrapper">
        <div class="parallelogram-episode">
          <span class="episode-title">Episode {{ film.episode_id }}</span>
        </div>

        <div style="text-align: center">
          <span class="film-title">{{ film.title }}</span>
        </div>

        <hr style="border: 0; border-top: 2px solid #9c9322; margin: 0 10vw">

        <span class="film-creator">
          <p style="margin-bottom: 0"><strong>Producer : </strong>{{ film.producer }}</p>
          <p style="margin-top: 0; margin-bottom: 0"><strong>Director :</strong> {{ film.director }}</p>
        </span>

        <div class="film-desc">
          <p>{{ film.opening_crawl }}</p>
        </div>
      </div>
    </div>

    <!-- <div class="film-box">
      <div class="episode-box">
        <span class="episode-title">Episode {{ film.episode_id }}</span>
      </div>

      <div style="text-align: center">
        <span class="film-title">{{ film.title }}</span>
      </div>

      <hr style="border: 0; border-top: 2px solid #9c9322;">

      <span class="film-creator">
        <p style="margin-bottom: 0"><strong>Producer : </strong>{{ film.producer }}</p>
        <p style="margin-top: 0; margin-bottom: 0"><strong>Director :</strong> {{ film.director }}</p>
      </span>

      <div class="film-desc">
        <p>{{ film.opening_crawl }}</p>
      </div>

    </div> -->
  </div>

</div>

<!-- <div class="" style="overflow-y: scroll; height: 100vh; width: 80px; background-color: white">
  <div style="overflow-y: auto;height: 200vh; width: 80px; background-color: white">

  </div>
</div> -->
